@import "global";
@import "layout";
@import "home";
@import "reservas";
@import "historico";
@import "configurações";
html {
    height: 100%;
    body {
        height: inherit;
        font-size: 14px;
        font-family: "Times New Roman" !important;
        margin: 0;
        #root {
            height: inherit;
            .App {
                width: 100%;
                height: inherit;
                @include layout;
            }
        }
    }
}